[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = US
ST = California
L = San Francisco
O = My Organization
OU = My Unit
CN = <mydomain.com>

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = <mydomain.com>
DNS.2 = www.<mydomain.com>
DNS.3 = vqn.<mydomain.com>
